body{
    min-width: 1226px;
}
.container{
	width: 1226px;
	padding: 0px;
}
.header-top{
	background-color: #333;
	line-height: 40px;
	font-size: 12px;
}
.header-top span{
	color:#999;
	margin: 0 .3em;
}
.header-top a{
	display: inline-block;
	color: #aaa;
}
.header-top a:hover{
	color: #fff;
	text-decoration: none;
}
.mainNav{
	float: left;
}
.mainNav .app{
	position: relative;
}
.mainNav .app::after{
	content:none;
	position: absolute;
	bottom: -7px;
	left: 50%;
	width: 0px;
	height: 0px;
	margin-left: -8px;
	border-width: 0 8px 8px;
	border-style: solid;
	border-color: #fff;
	transform: rotate(45deg);
}
.mainNav .app .erweima{
	overflow: hidden;
	/* display: none; */
	position: absolute;
	top: 40px;
	left: -32px;
	width: 124px;
	height:0px;
	background-color: #fff;
	z-index: 50;
	text-align: center;
	font-size: 14px;
	color: #000;
	line-height: 10px;
	box-shadow: 0 1px 5px #aaa;
	transition: 1s;
}
.mainNav .app:hover .erweima{
	height: 148px;
	display: block;
}
.mainNav .app:hover::after{
	content: '';
}
.mainNav .app .erweima img{
	display: block;
	margin: 18px auto 12px;
}
.header-gou{
	float: right;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: block;
	font-size: 14px;
	background-color: rgba(255, 255, 255, 0.2);
	position: relative;
}
.header-gou:hover a{
	color: orange;
}
.header-gou a i{
	margin-right:2px; 
	font-size: 16px;
}
.gouwuche{
	background-color: #fff;
	position: absolute;
	top: 40px;
	left: -196px;
	width: 316px;
	height: 0px;
	z-index: 50;
	color: #424242;
	box-shadow: 0 2px 10px rgba(0,0,0,.15);
	font-size: 12px;
	overflow: hidden;
	transition: 0.5s;
}
.loading{
	padding: 20px 0;
	margin: 20px 20px 20px;
}
.loader{
	position: relative;
	margin: 0px auto;
	width: 4px;
	height: 20px;
	background-color: #ff6700;
	transform-origin: 50% 50%;
	animation: loader 0.3s linear infinite;
    animation-direction: alternate-reverse;
}
.loader::before,.loader::after{
	position: absolute;
    left: 50%;
    top: 50%;
    width: 4px;
    height: 20px;
    content: "";
    background: #ff6700;
    transform-origin: 50% 50%;
	animation: loader 0.3s linear infinite;
    animation-direction: alternate-reverse;
}
.loader::before{
	margin: -10px 0 0 -10px;
	transform: scaleY(.3);
	animation-delay: .25s;
}
.loader::after{
	margin: -10px 0 0 6px;
	transform: scaleY(.5);
	animation-delay: .5s;
}
@keyframes loader{
	0%{
		transform: scaleY(.5);
    	opacity: .2;
	}
	100%{
		transform: scaleY(1);
    	opacity: 1;
	}
}
.gouwuche-text{
	display: none;
	line-height: 20px;
}
.header-gou:hover .gouwuche{
	height: 100px;
}
.header-login{
	float: right;
	margin-right: 15px;
	font-size: 14px;
}
.header-login{
	padding: 0px 5px;
}
.header-bottom{
	height: 100px;
	overflow: hidden;
}
.logo{
	display: block;
	width: 55px;
	margin-right: 11px;
	margin-top: 22px;
	float: left;
	overflow: hidden;
}
.logo ul{
	width: 99999px;
	margin-left: -55px;
	transition: 0.2s;
}
.logo:hover ul{
	margin-left: 0px;
}
.logo ul li{
	float: left;
}
.logo a{
	display: block;
	width: 55px;
	height: 55px;
	background-color: #ff6700;
}
.logo a img{
	margin:3px; 
}
.subnav{
	float: left;
	width: 850px;
	font-size: 16px;
	display: block;
	overflow: hidden;
}
.subnav .subnav-ul{
	float: left;
	display: block;
	padding: 12px 0 0 160px;
}
.subnav .subnav-ul .subnav-li{
	float: left;
}
.subnav .subnav-ul .subnav-a{
	display: block;
	color: #333;
	padding: 26px 10px 38px;
}
.subnav .subnav-ul .subnav-a:hover{
	color: #ff6700;
	text-decoration: none;
}
.subnav-bottom{
	position: absolute;
	top: 138px;
	left: 0px;
	width: 100%;
	height: 0px;
	background-color: #fff;
	z-index: 50;
	overflow: hidden;
	transition: 0.1s;
}
.subnav-bottom ul li{
	display: block;
	float: left;
	width: 204px;
}
.subnav-bottom a{
	display: block;
	margin: 37px auto 33px;
	text-align: center;
	font-size: 12px;
	color: #666;
	position: relative;
}
.subnav-bottom a::after{
	content: '';
	position: absolute;
	top: 0px;
	right: 0px;
	width: 1px;
	height: 100px;
	background-color: #ddd;
}
.subnav-bottom li:nth-child(6) a::after{
	content: none;
}
.subnav-bottom a:hover{
	text-decoration: none;
}
.subnav-bottom a p{
	color: #ff6700;
}
.subnav-bottom img{
	display: block;
	margin: 0px auto;
}
.subnav-li:hover .subnav-bottom-1{
	height: 230px;
	box-shadow: 0 8px 16px rgba(0,0,0,.18);
	border-top: 1px solid #ddd;
}
.subnav-li:hover .subnav-bottom-2{
	height: 230px;
	box-shadow: 0 8px 16px rgba(0,0,0,.18);
	border-top: 1px solid #ddd;
}
.subnav-li:hover .subnav-bottom-3{
	height: 230px;
	box-shadow: 0 8px 16px rgba(0,0,0,.18);
	border-top: 1px solid #ddd;
}
.subnav-li:hover .subnav-bottom-4{
	height: 230px;
	box-shadow: 0 8px 16px rgba(0,0,0,.18);
	border-top: 1px solid #ddd;
}
.subnav-li:hover .subnav-bottom-5{
	height: 230px;
	box-shadow: 0 8px 16px rgba(0,0,0,.18);
	border-top: 1px solid #ddd;
}
.subnav-li:hover .subnav-bottom-6{
	height: 230px;
	box-shadow: 0 8px 16px rgba(0,0,0,.18);
	border-top: 1px solid #ddd;
}
.subnav-li:hover .subnav-bottom-7{
	height: 230px;
	box-shadow: 0 8px 16px rgba(0,0,0,.18);
	border-top: 1px solid #ddd;
}
.header-bottom form{
	position: relative;
	width: 296px;
	margin-top: 25px;
	float: right;
}
.header-bottom form input{
	width: 245px;
	height: 50px;
	border: 1px solid #e0e0e0;
	font-size: 14px;
	line-height: 48px;
	padding: 0px 10px;
	outline: none;
}
.header-bottom form button{
	width: 52px;
	height: 50px;
	border: 1px solid #e0e0e0;
	background-color: rgba(255, 255, 255, 0);
	position: absolute;
	right: 0px;
	font-size: 20px;
	line-height: 24px;
	color: #616161;
}
.header-bottom form:hover input,.header-bottom form:hover button{
	border: 1px solid #999;
}
.header-bottom form button:hover{
	background-color: #ff6700;;
	color: #fff;
	border: none;
}
.footer-top .span21{
	padding: 27px 0px;
	border-bottom: 1px solid #e0e0e0;
}
.span21 ul{
	height: 25px;
	margin: 0px;
}
.span21 ul li{
	float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}
.span21 ul li:nth-child(1){
	border-left: none;
}
.span22{
	color: #616161;
	transition: color .2s;
}
.span22:hover{
	text-decoration: none;
	color: #ff6700;
}
.span22 i{
	margin-right: 6px;
    font-size: 24px;
    line-height: 24px;
    vertical-align: -4px;
}
.span23{
	padding: 40px 0;
	overflow: hidden;
}
.span24{
	float: left;
	width: 160px;
	height: 112px;
	margin: 0px;
}
.span24 dt{
	margin: -1px 0 26px;
	font-size: 14px;
	line-height: 1.25;
	color: #424242;
}
.span24 dd{
	margin: 10px 0 0;
	font-size: 12px;
}
.span24 dd a{
	color: #757575;
}
.span24 dd a:hover{
	color: #ff6700;
	text-decoration: none;
}
.span25{
	float: right;
	width: 252px;
	height: 112px;
	border-left: 1px solid #e0e0e0;
	text-align: center;
	color: #616161;
}
.span25 .span26{
	margin: 0 0 5px;
	font-size: 22px;
	line-height: 1;
	color: #ff6700;
}
.span25 p{
	margin: 0 0 16px;
	font-size: 12px;
}
.span25 a{
	display:inline-block;
	width: 120px;
	height: 30px;
	font-size: 12px;
	line-height: 28px;
	background-color: #fff;
	color: #ff6700;
	border: 1px solid #ff6700;
    cursor: pointer;
    transition: all 0.4s;
    text-align: center;
}
.span25 a:hover{
	text-decoration: none;
	background-color: #ff6700;
	color: #fff;
}
.footer-bottom{
	padding: 30px 0;
	font-size: 12px;
	background-color: #fafafa;
}
.footer-bottom-1{
	position: relative;
}
.span27{
	width: 57px;
	height: 57px;
	margin-right: 10px;
	background: url('../images/logo2.png') no-repeat 50% 50%;
	position: absolute;
    top: 0;
    left: 0;
}
.span28{
	color: #b0b0b0;
	padding-left: 67px;
}
.span28 p{
	margin: 0;
	line-height: 18px;
	display: block;
}
.span28-1 span{
	margin: 0;
	font-family: sans-serif;
}
.span28 a:hover{
	text-decoration: none;
	color: #ff6700;
}
.span28-1 a{
	color: #757575;
}
.span28-2 a{
	color: #b0b0b0;
}
.span29{
	height: 28px;
	margin: 4px 0 0;
	padding-left: 67px;
}
.span29 a img{
	width: auto;
	height: 28px;
	margin-left: 0;
	margin-bottom: 15px;
}
.span30{
	margin: 30px auto 0;
	width: 267px;
	height: 19px;
	background: url('../images/footer-6.png') no-repeat center 0;
	
}